# Analyse de base des fichiers éducation nationale. 
Objectif : voir les données, trouvé des pistes pour comprendre l'echec scolaire.

In [1]:
# import bibliothéques d'analyse de python
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
from matplotlib.ticker import FuncFormatter
import seaborn as sns

In [2]:
college_resultat = pd.read_csv("donnee/fr-en-indicateurs-valeur-ajoutee-colleges.csv",sep=";")
collegue_stat = pd.read_csv("donnee/fr-en-ips-colleges-ap2022.csv",sep=";")
effectif_colleges = pd.read_csv("donnee/fr-en-college-effectifs-niveau-sexe-lv.csv",sep=";")

## Affichage des entêtes des données
Pour les écoles primaires :

In [3]:
effectif_colleges.head(1)

,rentree_scolaire,region_academique,academie,departement,commune,numero_college,denomination_principale,patronyme,secteur,rep,...,3eme_lv1_allemand,3eme_lv1_anglais,3eme_lv1_espagnol,3eme_lv1_autres,3eme_lv2_allemand,3eme_lv2_anglais,3eme_lv2_espagnol,3eme_lv2_italien,3eme_lv2_autres,code_postal
0,2019,AUVERGNE-ET-RHONE-ALPES,LYON,RHONE,VILLEURBANNE,0691664J,COLLEGE,JEAN JAURES,PUBLIC,1,...,0,175,0,0,26,0,131,14,0,69100.0

In [4]:
collegue_stat.head(1)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,effectifs,ips,ecart_type_de_l_ips
0,2022-2023,LYON,001,AIN,0010002X,COLLEGE SAINT EXUPERY,01004,AMBERIEU EN BUGEY,public,686.0,95.3,34.2

In [5]:
college_resultat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6622 entries, 0 to 6621
Data columns (total 24 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   session                             6622 non-null   int64
 1   uai                                 6622 non-null   object
 2   nom_de_l_etablissement              6622 non-null   object
 3   commune                             6622 non-null   object
 4   departement                         6622 non-null   object
 5   academie                            6622 non-null   object
 6   secteur                             6622 non-null   object
 7   nb_candidats_g                      6622 non-null   int64
 8   taux_de_reussite_g                  6622 non-null   float64
 9   va_du_taux_de_reussite_g            6622 non-null   object
 10  nb_candidats_p                      3126 non-null   object
 11  taux_de_reussite_p                  3126 non-null   object
 12  note_a_l_ecrit_g                    6622 non-null   float64
 13  va_de_la_note_g                     6622 non-null   object
 14  note_a_l_ecrit_p                    3126 non-null   object
 15  taux_d_acces_6eme_3eme              6622 non-null   object
 16  part_presents_3eme_ordinaire_total  6622 non-null   int64
 17  part_presents_3eme_ordinaire_g      6622 non-null   object
 18  part_presents_3eme_ordinaire_p      2101 non-null   object
 19  part_presents_3eme_segpa_total      1447 non-null   object
 20  nb_mentions_ab_g                    6622 non-null   int64
 21  nb_mentions_b_g                     6622 non-null   int64
 22  nb_mentions_tb_g                    6622 non-null   int64
 23  nb_mentions_global_g                6622 non-null   int64
dtypes: float64(2), int64(7), object(15)
memory usage: 1.2+ MB

# premier nettoyage

Standariser les catègories public privé dans la colonne secteur.<br>
Standariser les rentrées scolaires<br>
Voir pour réduire le nombre de colonne des fichiers.<br>
college voir pour aggreger les classes. (langue séparé, est ce utile pour stats generale ?)<br>

In [6]:
collegue_stat['secteur'].unique()

array(['public', 'privé sous contrat'], dtype=object)

In [7]:
effectif_colleges['secteur'].unique()

array(['PUBLIC', 'PRIVE'], dtype=object)

In [8]:
# changement dans les data ecole_stat['secteur'] et college_stat['secteur']
# Les valeurs doivent être PRIVE ou PUBLIC
collegue_stat['secteur'].replace({'public':'PUBLIC','privé sous contrat':'PRIVE'},inplace=True)

In [9]:
effectif_colleges['rentree_scolaire'].unique()

array([2019, 2020, 2022, 2021])

In [10]:
collegue_stat['rentree_scolaire'].unique()

array(['2022-2023'], dtype=object)

In [11]:
# remplacer dans les données ecoles_stat et college_stat colonne rentree_scolaire 2022-2023 par 2022
collegue_stat['rentree_scolaire'].replace({'2022-2023':2022},inplace=True)

In [12]:
# création fichier college
fichier_college = pd.merge(effectif_colleges,collegue_stat,left_on=['rentree_scolaire','numero_college'],right_on=['rentree_scolaire','uai'],how='outer')

In [13]:
# supprime les colonnes en trop (doublons)
fichier_college.drop(columns=['academie_y','departement_y','secteur_y'],inplace=True)
# renomme les colonnes avec un _x
fichier_college.rename(columns={'academie_x':'academie','departement_x':'departement','secteur_x':'secteur'},inplace=True)

In [14]:
#enlevé les langues
langue = ['eme_lv1_allemand','eme_lv1_anglais','eme_lv1_espagnol','eme_lv1_autres','eme_lv2_allemand','eme_lv2_anglais','eme_lv2_espagnol','eme_lv2_italien','eme_lv2_autres']
for a in range(3,7,1):
    for b in langue:
        fichier_college.drop(columns=str(a)+b,inplace=True)

In [15]:
# enlevé les colonne commune avant le merge
college_resultat.drop(columns=['nom_de_l_etablissement','commune','departement','academie','secteur',],inplace=True)

In [16]:
fichier_college = pd.merge(fichier_college,college_resultat,left_on='numero_college',right_on='uai',how='outer')

In [17]:
fichier_college.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32982 entries, 0 to 32981
Data columns (total 67 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   rentree_scolaire                          32982 non-null  int64
 1   region_academique                         32982 non-null  object
 2   academie                                  32982 non-null  object
 3   departement                               32982 non-null  object
 4   commune                                   32982 non-null  object
 5   numero_college                            32982 non-null  object
 6   denomination_principale                   32982 non-null  object
 7   patronyme                                 32927 non-null  object
 8   secteur                                   32982 non-null  object
 9   rep                                       32982 non-null  int64
 10  rep_plus                                  32982 non-null  int64
 11  nombre_eleves_total                       32982 non-null  int64
 12  nombre_eleves_total_hors_segpa_hors_ulis  32982 non-null  int64
 13  nombre_eleves_segpa                       32982 non-null  int64
 14  nombre_eleves_ulis                        32982 non-null  int64
 15  6eme_total                                32982 non-null  int64
 16  6eme_hors_segpa_hors_ulis                 32982 non-null  int64
 17  6eme_segpa                                32982 non-null  int64
 18  6eme_ulis                                 32982 non-null  int64
 19  6eme_filles                               32982 non-null  int64
 20  6emes_garcons                             32982 non-null  int64
 21  5eme_total                                32982 non-null  int64
 22  5eme_hors_segpa_hors_ulis                 32982 non-null  int64
 23  5eme_segpa                                32982 non-null  int64
 24  5eme_ulis                                 32982 non-null  int64
 25  5eme_filles                               32982 non-null  int64
 26  5emes_garcons                             32982 non-null  int64
 27  4eme_total                                32982 non-null  int64
 28  4eme_hors_segpa_hors_ulis                 32982 non-null  int64
 29  4eme_segpa                                32982 non-null  int64
 30  4eme_ulis                                 32982 non-null  int64
 31  4eme_filles                               32982 non-null  int64
 32  4emes_garcons                             32982 non-null  int64
 33  3eme_total                                32982 non-null  int64
 34  3eme_hors_segpa_hors_ulis                 32982 non-null  int64
 35  3eme_segpa                                32982 non-null  int64
 36  3eme_ulis                                 32982 non-null  int64
 37  3eme_filles                               32982 non-null  int64
 38  3emes_garcons                             32982 non-null  int64
 39  code_postal                               32862 non-null  float64
 40  code_du_departement                       6973 non-null   object
 41  uai_x                                     6973 non-null   object
 42  nom_de_l_etablissment                     6973 non-null   object
 43  code_insee_de_la_commune                  6973 non-null   object
 44  nom_de_la_commune                         6973 non-null   object
 45  effectifs                                 6973 non-null   float64
 46  ips                                       6973 non-null   float64
 47  ecart_type_de_l_ips                       6973 non-null   float64
 48  session                                   26462 non-null  float64
 49  uai_y                                     26462 non-null  object
 50  nb_candidats_g                            26462 non-null  float64
 51  taux_de_reussite_g                        26462 non-null  float64
 52  va_du_taux_de_reussite_g                  26462 non-null  object
 53  nb_candidats_p                            12485 non-null  object
 54  taux_de_reussite_p                        12485 non-null  object
 55  note_a_l_ecrit_g                          26462 non-null  float64
 56  va_de_la_note_g                           26462 non-null  object
 57  note_a_l_ecrit_p                          12485 non-null  object
 58  taux_d_acces_6eme_3eme                    26462 non-null  object
 59  part_presents_3eme_ordinaire_total        26462 non-null  float64
 60  part_presents_3eme_ordinaire_g            26462 non-null  object
 61  part_presents_3eme_ordinaire_p            8388 non-null   object
 62  part_presents_3eme_segpa_total            5782 non-null   object
 63  nb_mentions_ab_g                          26462 non-null  float64
 64  nb_mentions_b_g                           26462 non-null  float64
 65  nb_mentions_tb_g                          26462 non-null  float64
 66  nb_mentions_global_g                      26462 non-null  float64
dtypes: float64(13), int64(31), object(23)
memory usage: 17.1+ MB

In [18]:
fichier_college.drop(columns=['uai_x','uai_y','nom_de_la_commune','nom_de_l_etablissment','code_du_departement'],inplace=True)

## graphes France généraux école primaire :
voir l évolution des effectifs globale des effectifs au college<br>
voir la repartition dans les classes en 2022<br>