In [1]:
# import bibliothéques d'analyse de python
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
from matplotlib.ticker import FuncFormatter
import seaborn as sns
import numpy as np

import fonctions.perso_stats as perso_stats

In [2]:
ips_lycee = pd.read_csv('donnee/fr-en-ips-lycees-ap2022.csv',sep=';')
va_lycee_gen = pd.read_csv('donnee/fr-en-indicateurs-de-resultat-des-lycees-denseignement-general-et-technologique.csv',sep=';',low_memory=False)
va_lycee_pro = pd.read_csv('donnee/fr-en-indicateurs-de-resultat-des-lycees-denseignement-professionnels.csv',sep=';',low_memory=False)

In [3]:
ips_lycee['rentree'] = 2022

In [4]:
ips_lycee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3598 entries, 0 to 3597
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rentree_scolaire              3598 non-null   object
 1   academie                      3598 non-null   object
 2   code_du_departement           3598 non-null   object
 3   departement                   3598 non-null   object
 4   uai                           3598 non-null   object
 5   nom_de_l_etablissment         3598 non-null   object
 6   code_insee_de_la_commune      3598 non-null   object
 7   nom_de_la_commune             3598 non-null   object
 8   secteur                       3598 non-null   object
 9   type_de_lycee                 3598 non-null   object
 10  effectifs_voie_gt             2464 non-null   float64
 11  effectifs_voie_pro            2075 non-null   float64
 12  effectifs_ensemble_gt_pro     3598 non-null   float64
 13  ips_voie_gt                   2464 non-null   float64
 14  ips_voie_pro                  2075 non-null   float64
 15  ips_ensemble_gt_pro           3598 non-null   float64
 16  ecart_type_de_l_ips_voie_gt   2464 non-null   float64
 17  ecart_type_de_l_ips_voie_pro  2075 non-null   float64
 18  rentree                       3598 non-null   int64
dtypes: float64(8), int64(1), object(10)
memory usage: 534.2+ KB

In [5]:
ips_lycee.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,type_de_lycee,effectifs_voie_gt,effectifs_voie_pro,effectifs_ensemble_gt_pro,ips_voie_gt,ips_voie_pro,ips_ensemble_gt_pro,ecart_type_de_l_ips_voie_gt,ecart_type_de_l_ips_voie_pro,rentree
0,2022-2023,LYON,001,AIN,0010021T,LYCEE PROFESSIONNEL MARCELLE PARDE LYCEE DES M...,01053,BOURG EN BRESSE,public,LP,NaN,520.0,520.0,NaN,86.5,86.5,NaN,24.3,2022
1,2022-2023,LYON,001,AIN,0010034G,LYCEE POLYVALENT PAUL PAINLEVE,01283,OYONNAX,public,LPO,461.0,210.0,671.0,86.9,70.7,81.8,31.3,20.0,2022
2,2022-2023,AMIENS,002,AISNE,0020031Y,LYCEE D ENSEIGNEMENT GENERAL ET TECHNOLOGIQUE ...,02381,HIRSON,public,LEGT,560.0,NaN,560.0,98.5,NaN,98.5,31.0,NaN,2022
3,2022-2023,AMIENS,002,AISNE,0020048S,LYCEE GENERAL ET TECHNOLOGIQUE HENRI MARTIN,02691,SAINT QUENTIN,public,LEGT,778.0,NaN,778.0,98.7,NaN,98.7,33.7,NaN,2022
4,2022-2023,AMIENS,002,AISNE,0020052W,LYCEE PROFESSIONNEL COLARD NOËL LYCEE DES METI...,02691,SAINT QUENTIN,public,LP,NaN,405.0,405.0,NaN,76.9,76.9,NaN,23.1,2022

In [6]:
va_lycee_gen.rename(columns={'code_etablissement':'uai','annee':'rentree'},inplace=True)

In [7]:
va_lycee_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27808 entries, 0 to 27807
Columns: 145 entries, etablissement to nombre_de_mentions_ab_t
dtypes: float64(80), int64(3), object(62)
memory usage: 30.8+ MB

In [8]:
for a in va_lycee_gen.columns :
    print(a)

etablissement
rentree
ville
uai
commune
academie
departement
secteur_public_pu_prive_pr
effectif_presents_serie_l
effectif_presents_serie_es
effectif_presents_serie_s
effectif_presents_serie_stg
effectif_presents_serie_sti2d
effectif_presents_serie_std2a
effectif_presents_serie_stmg
effectif_presents_serie_sti
effectif_presents_serie_stl
effectif_presents_serie_st2s
effectif_presents_serie_musiq_danse
effectif_presents_serie_hotellerie
effectif_presents_total_series
taux_brut_de_reussite_serie_l
taux_brut_de_reussite_serie_es
taux_brut_de_reussite_serie_s
taux_brut_de_reussite_serie_stg
taux_brut_de_reussite_serie_sti2d
taux_brut_de_reussite_serie_std2a
taux_brut_de_reussite_serie_stmg
taux_brut_de_reussite_serie_sti
taux_brut_de_reussite_serie_stl
taux_brut_de_reussite_serie_st2s
taux_brut_de_reussite_serie_musiq_danse
taux_brut_de_reussite_serie_hotellerie
taux_brut_de_reussite_total_series
taux_reussite_attendu_acad_serie_l
taux_reussite_attendu_acad_serie_es
taux_reussite_attendu_acad_serie_s
taux_reussite_attendu_acad_serie_stg
taux_reussite_attendu_acad_serie_sti2d
taux_reussite_attendu_acad_serie_std2a
taux_reussite_attendu_acad_serie_stmg
taux_reussite_attendu_acad_serie_sti
taux_reussite_attendu_acad_serie_stl
taux_reussite_attendu_acad_serie_st2s
taux_reussite_attendu_acad_serie_musiq_danse
taux_reussite_attendu_acad_serie_hotellerie
taux_reussite_attendu_acad_total_series
taux_reussite_attendu_france_serie_l
taux_reussite_attendu_france_serie_es
taux_reussite_attendu_france_serie_s
taux_reussite_attendu_france_serie_stg
taux_reussite_attendu_france_serie_sti2d
taux_reussite_attendu_france_serie_std2a
taux_reussite_attendu_france_serie_stmg
taux_reussite_attendu_france_serie_sti
taux_reussite_attendu_france_serie_stl
taux_reussite_attendu_france_serie_st2s
taux_reussite_attendu_france_serie_musiq_danse
taux_reussite_attendu_france_serie_hotellerie
taux_reussite_attendu_france_total_series
taux_mention_brut_serie_l
taux_mention_brut_serie_es
taux_mention_brut_serie_s
taux_mention_brut_serie_sti2d
taux_mention_brut_serie_std2a
taux_mention_brut_serie_stmg
taux_mention_brut_serie_stl
taux_mention_brut_serie_st2s
taux_mention_brut_serie_musiq_danse
taux_mention_brut_serie_hotellerie
taux_mention_brut_toutes_series
taux_mention_attendu_serie_l
taux_mention_attendu_serie_es
taux_mention_attendu_serie_s
taux_mention_attendu_serie_sti2d
taux_mention_attendu_serie_std2a
taux_mention_attendu_serie_stmg
taux_mention_attendu_serie_stl
taux_mention_attendu_serie_st2s
taux_mention_attendu_serie_musiq_danse
taux_mention_attendu_serie_hotellerie
taux_mention_attendu_toutes_series
sructure_pedagogique_en_5_groupes
sructure_pedagogique_en_7_groupes
pourcentage_bacheliers_sortants_2de_1re_term_etab
pourcentage_bacheliers_sortants_terminales_etab
pourcentage_bacheliers_sortants_2de_1re_term_acad
pourcentage_bacheliers_sortants_terminales_acad
pourcentage_bacheliers_sortants_2de_1re_term_france
pourcentage_bacheliers_sortants_terminales_france
effectif_de_seconde
effectif_de_premiere
effectif_de_terminale
taux_acces_brut_seconde_bac
taux_acces_attendu_acad_seconde_bac
taux_acces_attendu_france_seconde_bac
taux_acces_brut_premiere_bac
taux_acces_attendu_acad_premiere_bac
taux_acces_attendu_france_premiere_bac
taux_acces_brut_terminale_bac
taux_acces_attendu_france_terminale_bac
libelle_region_2016
code_region_2016
code_departement
libelle_departement
va_reu_total
va_acc_seconde
va_men_total
va_reu_l
va_reu_es
va_reu_s
va_reu_stg
va_reu_sti2d
va_reu_std2a
va_reu_stmg
va_reu_sti
va_reu_stl
va_reu_st2s
va_reu_musiq_danse
va_reu_hotellerie
va_acc_premiere
va_acc_terminale
va_men_l
va_men_es
va_men_s
va_men_sti2d
va_men_std2a
va_men_stmg
va_men_stl
va_men_st2s
va_men_musiq_danse
va_men_hotellerie
presents_gnle
taux_reu_brut_gnle
va_reu_gnle
taux_men_brut_gnle
va_men_gnle
nombre_de_mentions_tb_avec_felicitations_g
nombre_de_mentions_tb_sans_felicitations_g
nombre_de_mentions_b_g
nombre_de_mentions_ab_g
nombre_de_mentions_tb_avec_felicitations_t
nombre_de_mentions_tb_sans_felicitations_t
nombre_de_mentions_b_t
nombre_de_mentions_ab_t

In [9]:
va_lycee_gen.head()

,etablissement,rentree,ville,uai,commune,academie,departement,secteur_public_pu_prive_pr,effectif_presents_serie_l,effectif_presents_serie_es,...,taux_men_brut_gnle,va_men_gnle,nombre_de_mentions_tb_avec_felicitations_g,nombre_de_mentions_tb_sans_felicitations_g,nombre_de_mentions_b_g,nombre_de_mentions_ab_g,nombre_de_mentions_tb_avec_felicitations_t,nombre_de_mentions_tb_sans_felicitations_t,nombre_de_mentions_b_t,nombre_de_mentions_ab_t
0,LYCEE CLAUDE LEBOIS,2017,ST CHAMOND,0420040R,42207,LYON,LOIRE,public,15.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LYCEE SIMONE WEIL,2017,ST PRIEST EN JAREZ,0420044V,42275,LYON,LOIRE,public,32.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LYCEE ETIENNE MIMARD,2017,ST ETIENNE,0420046X,42218,LYON,LOIRE,public,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LYCEE SAINTE MARIE LA GRAND'GRANGE,2017,ST CHAMOND,0421022H,42207,LYON,LOIRE,privé sous contrat,11.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LYCEE SEVIGNE,2017,ST ETIENNE,0421034W,42218,LYON,LOIRE,privé sous contrat,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
va_lycee_pro.rename(columns={'code_etablissement':'uai','annee':'rentree'},inplace=True)

In [11]:
va_lycee_pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236 entries, 0 to 24235
Columns: 130 entries, etablissement to nombre_de_mentions_ab_p
dtypes: float64(62), int64(3), object(65)
memory usage: 24.0+ MB

In [12]:
for a in va_lycee_pro.columns :
    print(a)

etablissement
uai
rentree
ville
commune
academie
departement
secteur_public_1_prive_2
effectifs_presents_specialites_pluri_technologiques
effectifs_presents_transformations
effectifs_presents_genie_civil_construction_et_bois
effectifs_presents_materiaux_souples
effectifs_presents_mecanique_electricite_electronique
effectif_presents_production
effectifs_presents_specialites_plurivalentes_des_services
effectifs_presents_echanges_et_gestion
effectifs_presents_communication_et_information
effectifs_presents_services_aux_personnes
effectifs_presents_services_a_la_collectivite
effectif_presents_services
effectif_presents_total_secteurs
taux_brut_de_reussite_specialites_pluri_technologiques
taux_brut_de_reussite_transformations
taux_brut_de_reussite_genie_civil_construction_et_bois
taux_brut_de_reussite_materiaux_souples
taux_brut_de_reussite_mecanique_electricite_electronique
taux_brut_de_reussite_production
taux_brut_de_reussite_specialites_plurivalentes_des_services
taux_brut_de_reussite_echanges_et_gestion
taux_brut_de_reussite_communication_et_information
taux_brut_de_reussite_services_aux_personnes
taux_brut_de_reussite_services_a_la_collectivite
taux_brut_de_reussite_services
taux_brut_de_reussite_total_secteurs
taux_de_reussite_attendu_france_specialites_pluri_technologiques
taux_de_reussite_attendu_france_transformations
taux_de_reussite_attendu_france_genie_civil_construction_et_bois
taux_de_reussite_attendu_france_materiaux_souples
taux_de_reussite_attendu_france_mecanique_electricite_electronique
taux_de_reussite_attendu_france_specialites_plurivalentes_des_services
taux_de_reussite_attendu_france_echanges_et_gestion
taux_de_reussite_attendu_france_communication_et_information
taux_de_reussite_attendu_france_services_aux_personnes
taux_de_reussite_attendu_france_services_a_la_collectivite
taux_reussite_attendu_acad_production
taux_reussite_attendu_acad_services
taux_reussite_attendu_acad_total_secteurs
taux_reussite_attendu_france_production
taux_reussite_attendu_france_services
taux_reussite_attendu_france_total_secteurs
bachel_sort_2de_1re_term_etab
bachel_sort_terminales_etab
bachel_sort_2de_1re_term_acad
bachel_sort_terminales_acad
bachel_sort_2de_1re_term_france
bachel_sort_terminales_france
effectif_de_seconde
effectif_de_premiere
effectif_de_terminale
taux_acces_brut_seconde_bac
taux_acces_attendu_acad_seconde_bac
taux_acces_attendu_france_seconde_bac
taux_acces_brut_premiere_bac
taux_acces_attendu_acad_premiere_bac
taux_acces_attendu_france_premiere_bac
taux_acces_brut_terminale_bac
taux_acces_attendu_france_terminale_bac
taux_brut_de_mentions_specialites_pluri_technologiques
taux_brut_de_mentions_transformations
taux_brut_de_mentions_genie_civil_construction_et_bois
taux_brut_de_mentions_materiaux_souples
taux_brut_de_mentions_mecanique_electricite_electronique
taux_brut_de_mentions_specialites_plurivalentes_des_services
taux_brut_de_mentions_echanges_et_gestion
taux_brut_de_mentions_communication_et_information
taux_brut_de_mentions_services_aux_personnes
taux_brut_de_mentions_services_a_la_collectivite
taux_brut_de_mentions_production
taux_brut_de_mentions_services
taux_brut_de_mentions_total_secteurs
taux_de_mentions_attendu_specialites_pluri_technologiques
taux_de_mentions_attendu_transformations
taux_de_mentions_attendu_genie_civil_construction_et_bois
taux_de_mentions_attendu_materiaux_souples
taux_de_mentions_attendu_mecanique_electricite_electronique
taux_de_mentions_attendu_specialites_plurivalentes_des_services
taux_de_mentions_attendu_echanges_et_gestion
taux_de_mentions_attendu_communication_et_information
taux_de_mentions_attendu_services_aux_personnes
taux_de_mentions_attendu_services_a_la_collectivite
taux_mentions_attendu_production
taux_mentions_attendu_services
taux_mentions_attendu_tous_secteurs
structure_pedagogique_7_groupes
libelle_region_2016
code_region_2016
libelle_departement
code_departement
va_reu_pluritech
va_reu_transfo
va_reu_genie_civil
va_reu_materiaux
va_reu_meca_elec
va_reu_production
va_reu_pluri_serv
va_reu_echanges
va_reu_communication
va_reu_serv_pers
va_reu_serv_collec
va_reu_services
va_reu_total
va_acc_seconde
va_acc_premiere
va_acc_terminale
va_men_pluritech
va_men_transfo
va_men_genie_civil
va_men_materiaux
va_men_meca_elec
va_men_production
va_men_pluri_serv
va_men_echanges
va_men_communication
va_men_serv_pers
va_men_serv_collec
va_men_services
va_men_total
nombre_de_mentions_tb_sans_felicitations_p
nombre_de_mentions_b_p
nombre_de_mentions_ab_p

In [13]:
va_lycee_pro.head()

,etablissement,uai,rentree,ville,commune,academie,departement,secteur_public_1_prive_2,effectifs_presents_specialites_pluri_technologiques,effectifs_presents_transformations,...,va_men_pluri_serv,va_men_echanges,va_men_communication,va_men_serv_pers,va_men_serv_collec,va_men_services,va_men_total,nombre_de_mentions_tb_sans_felicitations_p,nombre_de_mentions_b_p,nombre_de_mentions_ab_p
0,LYCEE LEON BLUM (PROFESSIONNEL),0941413A,2015,CRETEIL,94028,CRETEIL,VAL-DE-MARNE,public,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LYCEE PROFESSIONNEL PAULINE ROLAND,0942269F,2015,CHEVILLY LARUE,94021,CRETEIL,VAL-DE-MARNE,public,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LYCEE JEAN-JACQUES ROUSSEAU (PROFESSIONNEL),0950650R,2015,SARCELLES,95585,VERSAILLES,VAL-D'OISE,public,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LYCEE PROFESSIONNEL CHATEAU D EPLUCHES,0950658Z,2015,ST OUEN L AUMONE,95572,VERSAILLES,VAL-D'OISE,public,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LYCEE PROFESSIONNEL COGNACQ-JAY,0950800D,2015,ARGENTEUIL,95018,VERSAILLES,VAL-D'OISE,privé sous contrat,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
uai_Type_lycee = ips_lycee[['uai','type_de_lycee']].copy()

In [15]:
ips_lycee.drop(columns=['rentree_scolaire','secteur','academie','code_du_departement','departement','nom_de_l_etablissment','code_insee_de_la_commune','nom_de_la_commune','type_de_lycee'],inplace=True)

In [16]:
#merger les fichiers ensembles
fichier_lycee = pd.merge(ips_lycee,va_lycee_gen,on=['uai','rentree'],how='outer')
fichier_lycee = pd.merge(fichier_lycee,va_lycee_pro,on=['uai','rentree'],how='outer')
fichier_lycee = pd.merge(fichier_lycee,uai_Type_lycee, on='uai',how='outer')
#pas mal de colonne voir pour diminuer celle-ci ou pas

In [17]:
fichier_lycee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42837 entries, 0 to 42836
Columns: 282 entries, uai to type_de_lycee
dtypes: float64(154), int64(1), object(127)
memory usage: 92.5+ MB