# Analyse de base des fichiers éducation nationnale. 
Objectif : voir les données, trouvé des pistes pour comprendre l'echec scolaire.

In [22]:
# import bibliothéques d'analyse de python
#voir pour utiliser black dans les cellules python pour améliorer la qulité du code
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# import des données en RAM avec pandas
effectif_prim = pd.read_csv("donnee/fr-en-ecoles-effectifs-nb_classes.csv",sep=";")
effectif_colleges = pd.read_csv("donnee/fr-en-college-effectifs-niveau-sexe-lv.csv",sep=";")
collegue_stat = pd.read_csv("donnee/fr-en-ips-colleges-ap2022.csv",sep=";")
ecole_stat = pd.read_csv("donnee/fr-en-ips-ecoles-ap2022.csv",sep=";")

## Affichage des entêtes des données
Pour les écoles primaires :

In [43]:
effectif_prim.head(1)

,rentree_scolaire,region_academique,academie,departement,commune,numero_ecole,denomination_principale,secteur,rep,rep_plus,...,nombre_total_eleves,nombre_eleves_preelementaire_hors_ulis,nombre_eleves_elementaire_hors_ulis,nombre_eleves_ulis,nombre_eleves_cp_hors_ulis,nombre_eleves_ce1_hors_ulis,nombre_eleves_ce2_hors_ulis,nombre_eleves_cm1_hors_ulis,nombre_eleves_cm2_hors_ulis,code_postal
0,2022,AUVERGNE-ET-RHONE-ALPES,CLERMONT-FERRAND,ALLIER,ABREST,0030701W,ECOLE PRIMAIRE PUBLIQUE,PUBLIC,0,0,...,164,56,108,0,16,22,18,31,21,3200

In [25]:
ecole_stat.head(1)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,effectifs,ips
0,2022-2023,LYON,069,RHONE,0691092M,ECOLE PRIMAIRE,69074,DENICE,public,85.0,119.0

Pour les collèges :

In [26]:
effectif_colleges.head(1)

,rentree_scolaire,region_academique,academie,departement,commune,numero_college,denomination_principale,patronyme,secteur,rep,...,3eme_lv1_allemand,3eme_lv1_anglais,3eme_lv1_espagnol,3eme_lv1_autres,3eme_lv2_allemand,3eme_lv2_anglais,3eme_lv2_espagnol,3eme_lv2_italien,3eme_lv2_autres,code_postal
0,2019,AUVERGNE-ET-RHONE-ALPES,LYON,RHONE,VILLEURBANNE,0691664J,COLLEGE,JEAN JAURES,PUBLIC,1,...,0,175,0,0,26,0,131,14,0,69100.0

In [27]:
collegue_stat.head(1)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,effectifs,ips,ecart_type_de_l_ips
0,2022-2023,LYON,001,AIN,0010002X,COLLEGE SAINT EXUPERY,01004,AMBERIEU EN BUGEY,public,686.0,95.3,34.2

# premier nettoyage

Standariser les categorie public privé dans la colonne secteur.<br>
Standariser les rentrées scolaires<br>
Voir pour réduire le nombre de colonne des fichiers.<br>
colone tri et patronyme dans effectif ecole<br>
voir pour trier ecole primaire maternelle avec la denomination<br>
college voir pour aggreger les classes. (langue séparé, est ce utile pour stats generale ?)<br>

In [28]:
collegue_stat['secteur'].unique()

array(['public', 'privé sous contrat'], dtype=object)

In [29]:
effectif_colleges['secteur'].unique()

array(['PUBLIC', 'PRIVE'], dtype=object)

In [30]:
ecole_stat['secteur'].unique()

array(['public', 'privé sous contrat'], dtype=object)

In [31]:
effectif_prim['secteur'].unique()

array(['PUBLIC', 'PRIVE'], dtype=object)

In [32]:
# changement dans les data ecole_stat['secteur'] et college_stat['secteur']
# Les valeurs doivent être PRIVE ou PUBLIC
collegue_stat['secteur'].replace({'public':'PUBLIC','privé sous contrat':'PRIVE'},inplace=True)
ecole_stat['secteur'].replace({'public':'PUBLIC','privé sous contrat':'PRIVE'},inplace=True)

In [33]:
effectif_colleges['rentree_scolaire'].unique()

array([2019, 2020, 2022, 2021])

In [34]:
collegue_stat['rentree_scolaire'].unique()

array(['2022-2023'], dtype=object)

In [35]:
effectif_prim['rentree_scolaire'].unique()

array([2022, 2021, 2020, 2019])

In [36]:
ecole_stat['rentree_scolaire'].unique()

array(['2022-2023'], dtype=object)

In [37]:
# remplacer dans les données ecoles_stat et college_stat colonne rentree_scoalire 2022-2023 par 2022
collegue_stat['rentree_scolaire'].replace({'2022-2023':2022},inplace=True)
ecole_stat['rentree_scolaire'].replace({'2022-2023':2022},inplace=True)

In [38]:
effectif_prim.drop(columns=['tri','patronyme'],inplace=True)

In [39]:
effectif_prim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194898 entries, 0 to 194897
Data columns (total 21 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   rentree_scolaire                        194898 non-null  int64
 1   region_academique                       194898 non-null  object
 2   academie                                194898 non-null  object
 3   departement                             194898 non-null  object
 4   commune                                 194898 non-null  object
 5   numero_ecole                            194898 non-null  object
 6   denomination_principale                 194897 non-null  object
 7   secteur                                 194898 non-null  object
 8   rep                                     194898 non-null  int64
 9   rep_plus                                194898 non-null  int64
 10  nombre_total_classes                    194898 non-null  int64
 11  nombre_total_eleves                     194898 non-null  int64
 12  nombre_eleves_preelementaire_hors_ulis  194898 non-null  int64
 13  nombre_eleves_elementaire_hors_ulis     194898 non-null  int64
 14  nombre_eleves_ulis                      194898 non-null  int64
 15  nombre_eleves_cp_hors_ulis              194898 non-null  int64
 16  nombre_eleves_ce1_hors_ulis             194898 non-null  int64
 17  nombre_eleves_ce2_hors_ulis             194898 non-null  int64
 18  nombre_eleves_cm1_hors_ulis             194898 non-null  int64
 19  nombre_eleves_cm2_hors_ulis             194898 non-null  int64
 20  code_postal                             194898 non-null  int64
dtypes: int64(14), object(7)
memory usage: 31.2+ MB

In [40]:
effectif_colleges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32982 entries, 0 to 32981
Data columns (total 76 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   rentree_scolaire                          32982 non-null  int64
 1   region_academique                         32982 non-null  object
 2   academie                                  32982 non-null  object
 3   departement                               32982 non-null  object
 4   commune                                   32982 non-null  object
 5   numero_college                            32982 non-null  object
 6   denomination_principale                   32982 non-null  object
 7   patronyme                                 32927 non-null  object
 8   secteur                                   32982 non-null  object
 9   rep                                       32982 non-null  int64
 10  rep_plus                                  32982 non-null  int64
 11  nombre_eleves_total                       32982 non-null  int64
 12  nombre_eleves_total_hors_segpa_hors_ulis  32982 non-null  int64
 13  nombre_eleves_segpa                       32982 non-null  int64
 14  nombre_eleves_ulis                        32982 non-null  int64
 15  6eme_total                                32982 non-null  int64
 16  6eme_hors_segpa_hors_ulis                 32982 non-null  int64
 17  6eme_segpa                                32982 non-null  int64
 18  6eme_ulis                                 32982 non-null  int64
 19  6eme_filles                               32982 non-null  int64
 20  6emes_garcons                             32982 non-null  int64
 21  6eme_lv1_allemand                         32982 non-null  int64
 22  6eme_lv1_anglais                          32982 non-null  int64
 23  6eme_lv1_espagnol                         32982 non-null  int64
 24  6eme_lv1_autres                           32982 non-null  int64
 25  6eme_lv2_allemand                         32982 non-null  int64
 26  6eme_lv2_anglais                          32982 non-null  int64
 27  6eme_lv2_espagnol                         32982 non-null  int64
 28  6eme_lv2_italien                          32982 non-null  int64
 29  6eme_lv2_autres                           32982 non-null  int64
 30  5eme_total                                32982 non-null  int64
 31  5eme_hors_segpa_hors_ulis                 32982 non-null  int64
 32  5eme_segpa                                32982 non-null  int64
 33  5eme_ulis                                 32982 non-null  int64
 34  5eme_filles                               32982 non-null  int64
 35  5emes_garcons                             32982 non-null  int64
 36  5eme_lv1_allemand                         32982 non-null  int64
 37  5eme_lv1_anglais                          32982 non-null  int64
 38  5eme_lv1_espagnol                         32982 non-null  int64
 39  5eme_lv1_autres                           32982 non-null  int64
 40  5eme_lv2_allemand                         32982 non-null  int64
 41  5eme_lv2_anglais                          32982 non-null  int64
 42  5eme_lv2_espagnol                         32982 non-null  int64
 43  5eme_lv2_italien                          32982 non-null  int64
 44  5eme_lv2_autres                           32982 non-null  int64
 45  4eme_total                                32982 non-null  int64
 46  4eme_hors_segpa_hors_ulis                 32982 non-null  int64
 47  4eme_segpa                                32982 non-null  int64
 48  4eme_ulis                                 32982 non-null  int64
 49  4eme_filles                               32982 non-null  int64
 50  4emes_garcons                             32982 non-null  int64
 51  4eme_lv1_allemand                         32982 non-null  int64
 52  4eme_lv1_anglais                          32982 non-null  int64
 53  4eme_lv1_espagnol                         32982 non-null  int64
 54  4eme_lv1_autres                           32982 non-null  int64
 55  4eme_lv2_allemand                         32982 non-null  int64
 56  4eme_lv2_anglais                          32982 non-null  int64
 57  4eme_lv2_espagnol                         32982 non-null  int64
 58  4eme_lv2_italien                          32982 non-null  int64
 59  4eme_lv2_autres                           32982 non-null  int64
 60  3eme_total                                32982 non-null  int64
 61  3eme_hors_segpa_hors_ulis                 32982 non-null  int64
 62  3eme_segpa                                32982 non-null  int64
 63  3eme_ulis                                 32982 non-null  int64
 64  3eme_filles                               32982 non-null  int64
 65  3emes_garcons                             32982 non-null  int64
 66  3eme_lv1_allemand                         32982 non-null  int64
 67  3eme_lv1_anglais                          32982 non-null  int64
 68  3eme_lv1_espagnol                         32982 non-null  int64
 69  3eme_lv1_autres                           32982 non-null  int64
 70  3eme_lv2_allemand                         32982 non-null  int64
 71  3eme_lv2_anglais                          32982 non-null  int64
 72  3eme_lv2_espagnol                         32982 non-null  int64
 73  3eme_lv2_italien                          32982 non-null  int64
 74  3eme_lv2_autres                           32982 non-null  int64
 75  code_postal                               32862 non-null  float64
dtypes: float64(1), int64(67), object(8)
memory usage: 19.1+ MB

## premier graphes :
voir l évolution des effectifs globale des effectifs en primaire<br>
voir la repartition dans les classes en 2022<br>