# Analyse de base des fichiers éducation nationale. 
Objectif : nettoyer et fussionner les données pour uen future analyse et créer des colonnes précalculées.

In [1]:
# import bibliothéques d'analyse de python
import pandas as pd

In [2]:
# import des données en RAM avec pandas
effectif_prim = pd.read_csv("donnee/fr-en-ecoles-effectifs-nb_classes.csv",sep=";",low_memory=False)
ecole_stat = pd.read_csv("donnee/fr-en-ips-ecoles-ap2022.csv",sep=";",low_memory=False)

## Affichage des données brutes

In [3]:
effectif_prim.head(1)

,Rentrée scolaire,Région académique,Académie,Département,Commune,Numéro de l'école,Dénomination principale,Patronyme,Secteur,REP,...,Nombre d'élèves en pré-élémentaire hors ULIS,Nombre d'élèves en élémentaire hors ULIS,Nombre d'élèves en ULIS,Nombre d'élèves en CP hors ULIS,Nombre d'élèves en CE1 hors ULIS,Nombre d'élèves en CE2 hors ULIS,Nombre d'élèves en CM1 hors ULIS,Nombre d'élèves en CM2 hors ULIS,tri,Code Postal
0,2022,AUVERGNE-ET-RHONE-ALPES,CLERMONT-FERRAND,ALLIER,ABREST,0030701W,ECOLE PRIMAIRE PUBLIQUE,NaN,PUBLIC,0,...,56,108,0,16,22,18,31,21,78-AUVERGNE-ET-RHONE-ALPES-CLERMONT-FERRAND-AL...,3200

In [4]:
effectif_prim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194898 entries, 0 to 194897
Data columns (total 23 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Rentrée scolaire                              194898 non-null  int64
 1   Région académique                             194898 non-null  object
 2   Académie                                      194898 non-null  object
 3   Département                                   194898 non-null  object
 4   Commune                                       194898 non-null  object
 5   Numéro de l'école                             194898 non-null  object
 6   Dénomination principale                       194897 non-null  object
 7   Patronyme                                     148531 non-null  object
 8   Secteur                                       194898 non-null  object
 9   REP                                           194898 non-null  int64
 10  REP +                                         194898 non-null  int64
 11  Nombre total de classes                       194898 non-null  int64
 12  Nombre total d'élèves                         194898 non-null  int64
 13  Nombre d'élèves en pré-élémentaire hors ULIS  194898 non-null  int64
 14  Nombre d'élèves en élémentaire hors ULIS      194898 non-null  int64
 15  Nombre d'élèves en ULIS                       194898 non-null  int64
 16  Nombre d'élèves en CP hors ULIS               194898 non-null  int64
 17  Nombre d'élèves en CE1 hors ULIS              194898 non-null  int64
 18  Nombre d'élèves en CE2 hors ULIS              194898 non-null  int64
 19  Nombre d'élèves en CM1 hors ULIS              194898 non-null  int64
 20  Nombre d'élèves en CM2 hors ULIS              194898 non-null  int64
 21  tri                                           194898 non-null  object
 22  Code Postal                                   194898 non-null  int64
dtypes: int64(14), object(9)
memory usage: 34.2+ MB

Le fichier effectif contient 23 colonnes.<br>
Il contient l'année scolaire  ainsi que de quoi identifier les établissements, dont un numero d'école qui peut servir d'identifiant.<br>
Le fichier contient aussi les effectifs des classes du CP au CM2 ainsi que les effectifs totals des élèves en école maternelle.<br>

In [5]:
ecole_stat.head(1)

,Rentrée scolaire,Académie,Code du département,Département,UAI,Nom de l'établissment,Code INSEE de la commune,Nom de la commune,Secteur,Effectifs,IPS
0,2022-2023,MONTPELLIER,066,PYRENEES-ORIENTALES,0660242E,ECOLE ELEMENTAIRE,66059,CORNEILLA DEL VERCOL,public,133.0,105.2

In [6]:
ecole_stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30059 entries, 0 to 30058
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rentrée scolaire          30059 non-null  object
 1   Académie                  30059 non-null  object
 2   Code du département       30059 non-null  object
 3   Département               30059 non-null  object
 4   UAI                       30059 non-null  object
 5   Nom de l'établissment     30059 non-null  object
 6   Code INSEE de la commune  30059 non-null  object
 7   Nom de la commune         30059 non-null  object
 8   Secteur                   30059 non-null  object
 9   Effectifs                 30059 non-null  float64
 10  IPS                       30059 non-null  float64
dtypes: float64(2), object(9)
memory usage: 2.5+ MB

Le fichier ips contient la l'année de la rentré ainsi que les effectifs et l'Indice de Position Sociale (IPS) moyen de l école.<br>

# premier nettoyage

Standariser les catègories public privé dans la colonne secteur.<br>
Standariser les rentrées scolaires<br>
Voir pour réduire le nombre de colonne des fichiers.<br>
enlever la colone tri dans effectif ecole<br>
regrouper les données dans un seul fichier ecole.csv<br>

In [7]:
effectif_prim['Rentrée scolaire'].unique()

array([2022, 2021, 2020, 2019])

In [8]:
effectif_prim.drop(effectif_prim[effectif_prim['Rentrée scolaire'] == '\ufeffRentrée scolaire'].index,inplace=True)

In [9]:
effectif_prim['Secteur'].unique()

array(['PUBLIC', 'PRIVE'], dtype=object)

In [10]:
# patronyme contient des Nan je les remplace par un espace
effectif_prim['Patronyme'].fillna(" ",inplace=True)

je regarde s'il existe des établissement en REP et REP+

In [12]:
effectif_prim[(effectif_prim['REP'] == 1) & (effectif_prim['REP +'] == 1)]

,Rentrée scolaire,Région académique,Académie,Département,Commune,Numéro de l'école,Dénomination principale,Patronyme,Secteur,REP,...,Nombre d'élèves en pré-élémentaire hors ULIS,Nombre d'élèves en élémentaire hors ULIS,Nombre d'élèves en ULIS,Nombre d'élèves en CP hors ULIS,Nombre d'élèves en CE1 hors ULIS,Nombre d'élèves en CE2 hors ULIS,Nombre d'élèves en CM1 hors ULIS,Nombre d'élèves en CM2 hors ULIS,tri,Code Postal
159139,2019,CORSE,CORSE,HAUTE-CORSE,AGHIONE,7200296J,ECOLE ELEMENTAIRE PUBLIQUE,AGHIONE,PUBLIC,1,...,0,21,0,5,2,6,4,4,81-CORSE-CORSE-HAUTE-CORSE-AGHIONE-7200296J,20270

Un établissement est dans les 2 cotégories.<br>
Je regarde les doublons :

In [13]:
effectif_prim[effectif_prim.duplicated()]

Empty DataFrame
Columns: [Rentrée scolaire, Région académique, Académie, Département, Commune, Numéro de l'école, Dénomination principale, Patronyme, Secteur, REP, REP +, Nombre total de classes, Nombre total d'élèves, Nombre d'élèves en pré-élémentaire hors ULIS, Nombre d'élèves en élémentaire hors ULIS, Nombre d'élèves en ULIS, Nombre d'élèves en CP hors ULIS, Nombre d'élèves en CE1 hors ULIS, Nombre d'élèves en CE2 hors ULIS, Nombre d'élèves en CM1 hors ULIS, Nombre d'élèves en CM2 hors ULIS, tri, Code Postal]
Index: []

[0 rows x 23 columns]

In [14]:
effectif_prim.drop(columns='tri',inplace=True)

In [15]:
# patronyme contient des Nan remplacer par un espace
effectif_prim['Patronyme'].fillna(" ",inplace=True)

État du fichier effectif avant le merge avec le fichier ips :

In [16]:
effectif_prim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194898 entries, 0 to 194897
Data columns (total 22 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Rentrée scolaire                              194898 non-null  int64
 1   Région académique                             194898 non-null  object
 2   Académie                                      194898 non-null  object
 3   Département                                   194898 non-null  object
 4   Commune                                       194898 non-null  object
 5   Numéro de l'école                             194898 non-null  object
 6   Dénomination principale                       194897 non-null  object
 7   Patronyme                                     194898 non-null  object
 8   Secteur                                       194898 non-null  object
 9   REP                                           194898 non-null  int64
 10  REP +                                         194898 non-null  int64
 11  Nombre total de classes                       194898 non-null  int64
 12  Nombre total d'élèves                         194898 non-null  int64
 13  Nombre d'élèves en pré-élémentaire hors ULIS  194898 non-null  int64
 14  Nombre d'élèves en élémentaire hors ULIS      194898 non-null  int64
 15  Nombre d'élèves en ULIS                       194898 non-null  int64
 16  Nombre d'élèves en CP hors ULIS               194898 non-null  int64
 17  Nombre d'élèves en CE1 hors ULIS              194898 non-null  int64
 18  Nombre d'élèves en CE2 hors ULIS              194898 non-null  int64
 19  Nombre d'élèves en CM1 hors ULIS              194898 non-null  int64
 20  Nombre d'élèves en CM2 hors ULIS              194898 non-null  int64
 21  Code Postal                                   194898 non-null  int64
dtypes: int64(14), object(8)
memory usage: 32.7+ MB

In [17]:
ecole_stat['Secteur'].unique()

array(['public', 'privé sous contrat'], dtype=object)

In [18]:
# changement dans les data ecole_stat['secteur'] et college_stat['secteur']
# Les valeurs doivent être PRIVE ou PUBLIC
ecole_stat['Secteur'].replace({'public':'PUBLIC','privé sous contrat':'PRIVE'},inplace=True)

In [19]:
ecole_stat['Rentrée scolaire'].unique()

array(['2022-2023'], dtype=object)

In [20]:
# remplacer dans les données ecoles_stat colonne rentree_scolaire 2022-2023 par 2022
ecole_stat['Rentrée scolaire'] = ecole_stat['Rentrée scolaire'].str[:4].astype(int)

In [22]:
fichier_ecole_elementaire = pd.merge(ecole_stat,effectif_prim,left_on=['Rentrée scolaire','UAI'],right_on=['Rentrée scolaire',"Numéro de l'école"],how='outer')

Le fichier qui est généré pour les analyses :

In [23]:
fichier_ecole_elementaire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194898 entries, 0 to 194897
Data columns (total 32 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Rentrée scolaire                              194898 non-null  int64
 1   Académie_x                                    30059 non-null   object
 2   Code du département                           30059 non-null   object
 3   Département_x                                 30059 non-null   object
 4   UAI                                           30059 non-null   object
 5   Nom de l'établissment                         30059 non-null   object
 6   Code INSEE de la commune                      30059 non-null   object
 7   Nom de la commune                             30059 non-null   object
 8   Secteur_x                                     30059 non-null   object
 9   Effectifs                                     30059 non-null   float64
 10  IPS                                           30059 non-null   float64
 11  Région académique                             194898 non-null  object
 12  Académie_y                                    194898 non-null  object
 13  Département_y                                 194898 non-null  object
 14  Commune                                       194898 non-null  object
 15  Numéro de l'école                             194898 non-null  object
 16  Dénomination principale                       194897 non-null  object
 17  Patronyme                                     194898 non-null  object
 18  Secteur_y                                     194898 non-null  object
 19  REP                                           194898 non-null  int64
 20  REP +                                         194898 non-null  int64
 21  Nombre total de classes                       194898 non-null  int64
 22  Nombre total d'élèves                         194898 non-null  int64
 23  Nombre d'élèves en pré-élémentaire hors ULIS  194898 non-null  int64
 24  Nombre d'élèves en élémentaire hors ULIS      194898 non-null  int64
 25  Nombre d'élèves en ULIS                       194898 non-null  int64
 26  Nombre d'élèves en CP hors ULIS               194898 non-null  int64
 27  Nombre d'élèves en CE1 hors ULIS              194898 non-null  int64
 28  Nombre d'élèves en CE2 hors ULIS              194898 non-null  int64
 29  Nombre d'élèves en CM1 hors ULIS              194898 non-null  int64
 30  Nombre d'élèves en CM2 hors ULIS              194898 non-null  int64
 31  Code Postal                                   194898 non-null  int64
dtypes: float64(2), int64(14), object(16)
memory usage: 49.1+ MB

In [24]:
# supression colonne en double
fichier_ecole_elementaire.drop(columns=['Académie_x','Département_x','Secteur_x'],inplace=True)
# renomme les colonnes avec un _y
fichier_ecole_elementaire.rename(columns={'Académie_y':'academie','Département_y':'Département','Secteur_y':'secteur'},inplace=True)

In [25]:
# calcul des colonnes pour future analyse
fichier_ecole_elementaire["Nombre moyen d'élève par classe"] = fichier_ecole_elementaire["Nombre total d\'élèves"]/fichier_ecole_elementaire["Nombre total de classes"]
fichier_ecole_elementaire['Pourcentage ULIS'] = fichier_ecole_elementaire["Nombre d\'élèves en ULIS"]/fichier_ecole_elementaire["Nombre total d\'élèves"]*100

Je supprimes les colonnes en doubles et je rajoute 2 colonnes pour des analyses.<br>
État final du fichier envoyé pour analyse :

In [26]:
fichier_ecole_elementaire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194898 entries, 0 to 194897
Data columns (total 31 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Rentrée scolaire                              194898 non-null  int64
 1   Code du département                           30059 non-null   object
 2   UAI                                           30059 non-null   object
 3   Nom de l'établissment                         30059 non-null   object
 4   Code INSEE de la commune                      30059 non-null   object
 5   Nom de la commune                             30059 non-null   object
 6   Effectifs                                     30059 non-null   float64
 7   IPS                                           30059 non-null   float64
 8   Région académique                             194898 non-null  object
 9   academie                                      194898 non-null  object
 10  Département                                   194898 non-null  object
 11  Commune                                       194898 non-null  object
 12  Numéro de l'école                             194898 non-null  object
 13  Dénomination principale                       194897 non-null  object
 14  Patronyme                                     194898 non-null  object
 15  secteur                                       194898 non-null  object
 16  REP                                           194898 non-null  int64
 17  REP +                                         194898 non-null  int64
 18  Nombre total de classes                       194898 non-null  int64
 19  Nombre total d'élèves                         194898 non-null  int64
 20  Nombre d'élèves en pré-élémentaire hors ULIS  194898 non-null  int64
 21  Nombre d'élèves en élémentaire hors ULIS      194898 non-null  int64
 22  Nombre d'élèves en ULIS                       194898 non-null  int64
 23  Nombre d'élèves en CP hors ULIS               194898 non-null  int64
 24  Nombre d'élèves en CE1 hors ULIS              194898 non-null  int64
 25  Nombre d'élèves en CE2 hors ULIS              194898 non-null  int64
 26  Nombre d'élèves en CM1 hors ULIS              194898 non-null  int64
 27  Nombre d'élèves en CM2 hors ULIS              194898 non-null  int64
 28  Code Postal                                   194898 non-null  int64
 29  Nombre moyen d'élève par classe               194898 non-null  float64
 30  Pourcentage ULIS                              194898 non-null  float64
dtypes: float64(4), int64(14), object(13)
memory usage: 47.6+ MB

In [27]:
fichier_ecole_elementaire.to_csv('donnee_temp/ecole.csv',index=False)